body {
	display: flex;
	justify-content: center;
	background: #FF1323;
	margin: 0;
	overflow: hidden; /* Запретить прокрутку */
	width: 100%; /* Ширина страницы занимает 100% ширины окна браузера */
	height: 100%; /* Высота страницы занимает 100% высоты окна браузера */
}

@keyframes enemyCoinRotate360 {
  0% {
    transform: rotate(0deg); /* Начальный угол 0 градусов */
  }
  100% {
    transform: rotate(360deg); /* Конечный угол 360 градусов */
  }
}

.enemyCoin {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 5vh;
    width: auto;
    transform: translateX(-50%);
    animation: enemyCoinRotate360 3s linear infinite;
    transition: top 1s ease, left 1s ease;
}

#headAlfred {
		position: absolute;
    width: 10vh;
    height: auto;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: top 0.5s linear, left 0.5s linear, transform 0.7s ease;
}


.rectangle {
    display: absolute;
    padding: 5px;
    color: white;
    white-space: nowrap;
    /* Эффект свечения */
    font-family: 'Meiryo', sans-serif; /* Сначала указывается 'Meiryo', затем альтернативные шрифты */
}

.rectangleHp2 {
    position: absolute; /* контейнер */
    overflow: hidden; /* предотвращает выход дочерних элементов за пределы контейнера */
    left: 15px; /* Отступ слева */
    right: 15px; /* Отступ справа */
    bottom: 20px; /* Отступ снизу */
    height: 15px; /* Высота прямоугольника */
    background: linear-gradient(to right, #181A20, #181A20); /* Черный градиент */
    border-radius: 10px; /* Заокругленные углы */
    box-shadow: inset 0 0 3px #65cd19; /* Внутренняя тень */
    z-index: 1000; /* Убедитесь, что прямоугольник будет поверх других элементов */
}

.rectangleHp {
    position: absolute; /* абсолютное позиционирование внутри rectangleHp2 */
    left: 0;
    bottom: 0;
    height: 100%; /* высота соответствует родителю */
    width: 100%; /* начальная ширина соответствует родителю */
    background: linear-gradient(to right, #F0B90B, #65cd19); /* Градиент от #F0B90B до белого */
    border-radius: 10px; /* Заокругленные углы */
    z-index: 1000; /* Убедитесь, что прямоугольник будет поверх других элементов */
}

/* счетчик оставшихся монеток */
.rectangleHp3 {
    display: inline-block;
    padding: 5px;
    background-color: "#181A20"; /* Фон с прозрачностью 80% (alpha = 0.8) */
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    font-family: 'Meiryo', sans-serif; /* Сначала указывается 'Meiryo', затем альтернативные шрифты */
    font-size: 14px;
    opacity: 0.5;
}

/* счетчик оставшихся монеток */
.rectangleHp4 {
    display: inline-block;
    padding: 5px;
    background-color: "#181A20"; /* Фон с прозрачностью 80% (alpha = 0.8) */
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    font-family: 'Meiryo', sans-serif; /* Сначала указывается 'Meiryo', затем альтернативные шрифты */
    font-size: 20px;
}


/* --=--=-- Анимация монетки счетчика оставшихся доступных монеток --=--=-- */
/* CSS класс для анимации вращения */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* Применяем анимацию к изображению */
  #rotatingImage {
    animation: rotate 10s linear infinite; /* Вращение на 360 градусов в течение 10 секунд и бесконечно */
  }
  /* --=--=-- Анимация монетки счетчика оставшихся доступных монеток --=--=-- */










@keyframes floatAndFade {
    0% {
        opacity: 0.5;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

.floatingText {
    position: absolute;
    animation: floatAndFade 1s ease-in-out forwards;
    font-size: 24px; /* Увеличенный размер текста */
    font-family: 'Meiryo', sans-serif; /* Сначала указывается 'Meiryo', затем альтернативные шрифты */
    text-shadow: 1px 1px 2px black; /* Тень текста для лучшей читаемости */
}


















/* --=--=-- Анимация монетки счетчика оставшихся доступных монеток --=--=-- */
/* CSS класс для анимации вращения */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Применяем анимацию к изображению */
#rotatingImageNeuron {
  animation: rotate 2s linear infinite; /* Вращение на 360 градусов в течение 10 секунд и бесконечно */
}
/* --=--=-- Анимация монетки счетчика оставшихся доступных монеток --=--=-- */


.glassmorphism {
  font-family: 'Meiryo', sans-serif; /* Устанавливает семейство шрифтов: основной шрифт 'Meiryo', и альтернативный - без засечек (sans-serif) */
  animation: glassmorphism 5s infinite ease-in-out; /* Определяет анимацию с именем 'glassmorphism', длительностью 5 секунд, бесконечным повторением и плавным замедлением в начале и конце */
  opacity: 0.9; /* Устанавливает прозрачность элемента (0 - полностью прозрачный, 1 - полностью непрозрачный) */
  border-radius: 10px; /* Устанавливает скругление углов рамки */
  padding: 5px; /* Устанавливает внутренний отступ вокруг содержимого элемента */
  backdrop-filter: blur(10px); /* Применяет эффект размытия (blur) к элементу позади, создавая эффект 'матового стекла' */
  -webkit-backdrop-filter: blur(10px); /* То же самое, что и backdrop-filter, но для браузеров на движке WebKit, таких как Safari */
  background-color: rgba(255, 255, 255, 0.1); /* Устанавливает цвет фона с прозрачностью (здесь белый цвет с 10% прозрачности) */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Устанавливает стиль рамки: толщину (1px), стиль (solid - сплошная линия) и цвет (белый с 30% прозрачности) */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Добавляет тень к элементу: смещение по X и Y (0 0), радиус размытия (15px) и цвет (чёрный с 20% прозрачности) */
}




.glassmorphism-container {
  right: 15px;
  bottom: 42px;
  position: absolute;
  display: flex;
  justify-content: space-around; /* Равномерно распределяет элементы в контейнере с одинаковыми интервалами */
  align-items: center; /* Центрирует элементы по вертикали */
  border-bottom-left-radius: 10px; /* Скругление угла */
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden; /* Скрывает части изображений, выходящие за рамки скругления */
  background-color: rgba(255, 255, 255, 0.1); /* Цвет фона с прозрачностью */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Тень вокруг контейнера */
  backdrop-filter: blur(10px); /* Эффект размытия (blur) */
  -webkit-backdrop-filter: blur(10px); /* Для браузеров на движке WebKit, как Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Граница вокруг контейнера */
  z-index: 1050; /* Уровень наложения */
}


.glassmorphism-image {
  position: relative;
  width: 35px; /* Ширина изображения */
  height: 35px; /* Высота изображения */
  background-position: center; /* Центрирование изображения */
  z-index: 1060; /* Уровень наложения */
}

.divider {
  width: 1px; /* Ширина полосы */
  background-color: rgba(255, 255, 255, 0.3); /* Цвет полосы */
  height: 30px; /* Высота полосы */
}









.glassmorphism-container-vertical {

  transition: right 0.2s ease-in-out;
  right: -250px; /* Начальное положение за пределами экрана */
  bottom: 88px;
  position: absolute;
  display: flex;
  flex-direction: column; /* Указывает на горизонтальное расположение элементов */
  justify-content: space-around; /* Равномерно распределяет элементы */
  align-items: center; /* Центрирует элементы по вертикали */
  overflow: hidden; /* Скрывает части изображений, выходящие за рамки скругления */
  background-color: rgba(255, 255, 255, 0.1); /* Цвет фона с прозрачностью */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Тень вокруг контейнера */
  backdrop-filter: blur(10px); /* Эффект размытия (blur) */
  -webkit-backdrop-filter: blur(10px); /* Для браузеров на движке WebKit, как Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Граница вокруг контейнера */
  z-index: 1069; /* Уровень наложения */
}

/* Класс, который будет добавлен для анимации */
.show-container {
  right: 15px; /* Конечное положение, где блок будет видим */
}

.glassmorphism-image-vertical {
  position: relative;
  width: 35px; /* Ширина изображения */
  height: 35px; /* Высота изображения */
  background-position: center; /* Центрирование изображения */
  z-index: 1070; /* Уровень наложения */
}

.divider-vertical {
  height: 1px; /* Изменение на ширину для горизонтальной ориентации */
  width: 100%; /* Растягиваем на всю ширину контейнера */
  background-color: rgba(255, 255, 255, 0.3); /* Цвет полосы */
  position: absolute;
  top: 50%; /* Позиционирование по центру контейнера */
  transform: translateY(-50%); /* Центрирование по вертикали */
}







